<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Libreria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Diseño links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body background="fondo.jpg">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a type="button" class="btn btn-outline-light" href="#"><i class="bi bi-book-fill"></i> Librería </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/libros}"><i class="bi bi-journal-text"></i> Control de libros</a>
            </li>
        </ul>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/autores}"><i class="bi bi-person-vcard-fill"></i> Control de autores</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/autores/nuevo}"><i class="bi bi-person-fill-add"></i> Registro de autores</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/libros/nuevo}"><i class="bi bi-journal-arrow-down"></i> Registro de libros</a>
                </li>
            </ul>

        </div>

        <div  class="text-end">
            <ul class="navbar-nav">
                <li  class="nav-item">
                    <a type="button" class="btn btn-outline-info" th:href="@{/}"><i class="bi bi-menu-button-wide-fill"></i> Inicio del sistema </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<br>

<div class="text-center">
    <div class="blockquote">
        <h2><i class="bi bi-bookmark-check-fill"></i><em> Sistema de Biblioteca Virtual </em><i class="bi bi-bookmark-check-fill" ></i></h2>
    </div>
</div>

<div class="text-center">
    <img src="logo.jpg" class="rounded" alt="...">
</div>

</body>

</html>
